<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="amazon-test">
<listeners>
<listener class-name="base.TestListeners"></listener>

</listeners>
  <test name="Test">
    <classes>
    <class name="tests.Amazon_login_test"/>
      <class name="tests.Cart_test"/>
    </classes>
  </test > <!-- Test -->
</suite> <!-- amazon-test -->
